<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.G3ProyectoAndroid"
        tools:targetApi="31">
        <activity
            android:name=".HistorialInscripcionesUsuarioActivity"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".InscripcionesAprobadasActivity"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".SolicitudesInscripcionesAdminActivity"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".HistorialUsuarioActivity"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".SolicitudesAprobadasAdminActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SolicitudesReservasAdminActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ReservarLibroUsuarioActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".EditUsuarioActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".EditActividadesActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".EditBookActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".DetailUsuarios"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".DetailActividades_user"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ActividadesFragment_user"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".DetailLibros_user"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Principal_user"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".DetailLibros"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".DetailActividades"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Principal"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".registro"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".splashscreen"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:screenOrientation="portrait" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>